.App {
  text-align: center;
  
}

.robots-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 90%;
  
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  
}

.robot-card {
  border: 1px solid white;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 5px 10px 15px #aaaaaa;
}

.search{
  border: 1px solid grey;
  border-radius: 4px;
  height: 2rem;
  width: 20rem;
  padding: 0 1rem;
}
